@page

@{
    ViewBag.Title = "User";
    Layout = "_SimpleUserLayout";
}

<div class="row">
    <div class="col-6">
        <figure class="figure mb-0 verticalSplit">
            <img class="figure-img img-fluid rounded mb-0" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0e06b1aa-e792-4965-a291-fc89c5d321b8/ddjwyp1-93736bd9-b1d6-474c-92e1-6bb6c483b2ce.jpg/v1/fill/w_1024,h_1087,q_75,strp/brigitte_x_tracer_by_sagas293_ddjwyp1-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDg3IiwicGF0aCI6IlwvZlwvMGUwNmIxYWEtZTc5Mi00OTY1LWEyOTEtZmM4OWM1ZDMyMWI4XC9kZGp3eXAxLTkzNzM2YmQ5LWIxZDYtNDc0Yy05MmUxLTZiYjZjNDgzYjJjZS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.RvrvrcxYx3rjHLA-pmOmO76MDcM5l7X2QDsk27Ewa_o" />
        </figure>
    </div>
    <div class="col-6">
        <h1>Login</h1>

        <a class="btn btn-primary btn-block" href="/api/auth/signin/discord">
            <i class="fab fa-discord"></i>
            Discord
        </a>
        <a class="btn btn-primary btn-block" href="/api/auth/signin/battlenet">
            <i class="fab fa-battle-net"></i>
            Battle.net
        </a>
    </div>
</div>