@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-xl-6 col-md-8 col-sm-10">
        <div class="card card-block">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
